$c-gray: #444;
$c-gray--lightest: #ccc;
$c-gray--lighter: #aaa;
$c-gray--light: #999;
$c-gray--med: #666;
$c-gray--dark: #333;
$c-gray--darker: #111;

$c-white: #fff;
$c-black: #000;

$c-copper: #782e22;
$c-blaze: #ff6400;
$c-red: #ff0000;
$c-malibu: #afebff;
$c-green: #bcdeb2;
$c-purple: #5e0080;
$c-yellow: #ddb20b;
$c-blue: #3d64ae;
$c-blue--dark: #124560;

$c-crit: #7bff94;
$c-fail: #ff8484;
$c-reroll: #ffe741;

$c-tab-shadow: #a78f77;

$ct-black--75: rgba($c-black, .75);
$ct-black--45: rgba($c-black, .45);
$ct-black--25: rgba($c-black, .25);
$ct-black--05: rgba($c-black, .05);
$ct-black--03: rgba($c-black, .03);
$ct-black--01: rgba($c-black, .01);

$ct-white--75: rgba($c-white, .75);
$ct-white--45: rgba($c-white, .45);
$ct-white--25: rgba($c-white, .25);
$ct-white--05: rgba($c-white, .05);
$ct-white--03: rgba($c-white, .03);
$ct-white--01: rgba($c-white, .01);

$ct-green--25: rgba($c-green, .25);
$ct-blue--25: rgba(128, 188, 223, 0.25);

$c-feat-blue: #68d7f194;
$c-feat-transparent: #ffffff00;

$c-power-grad-max: 160%;

$c-power-will: linear-gradient(45deg, #003c15, #5ee25e $c-power-grad-max);
$c-power-battle: linear-gradient(45deg, #3c0000, #dc0000 $c-power-grad-max);
$c-power-daily: linear-gradient(45deg, #01003c, #ababab $c-power-grad-max);
$c-power-desperate: linear-gradient(45deg, #01003c, #ababab $c-power-grad-max);
$c-power-recharge: linear-gradient(45deg, #01003c, #71a2ec $c-power-grad-max);
$c-power-other: linear-gradient(45deg, #25003c, #dc9ff1a6 $c-power-grad-max);
$c-power-equipment: linear-gradient(45deg, #80361a, #efc44aa6 $c-power-grad-max);

$cb-rg-power-will: linear-gradient(45deg, #003c15, #087830 $c-power-grad-max);
$cb-rg-power-battle: linear-gradient(45deg, #003854, #89cdef $c-power-grad-max);
$cb-rg-power-daily: linear-gradient(45deg, #005748, #42ac9a $c-power-grad-max);
$cb-rg-power-desperate: linear-gradient(45deg, #005748, #42ac9a $c-power-grad-max);
$cb-rg-power-recharge: linear-gradient(45deg, #695702, #decd78 $c-power-grad-max);
$cb-rg-power-other: linear-gradient(45deg, #0d0145, #301c89 $c-power-grad-max);
$cb-rg-power-equipment: linear-gradient(45deg, #80361a, #efc44aa6 $c-power-grad-max);

$cb-by-power-will: linear-gradient(45deg, #796501, #efde89 $c-power-grad-max);
$cb-by-power-battle: linear-gradient(45deg, #4e0129, #891c54 $c-power-grad-max);
$cb-by-power-daily: linear-gradient(45deg, #333300, #9a9a30 $c-power-grad-max);
$cb-by-power-desperate: linear-gradient(45deg, #333300, #9a9a30 $c-power-grad-max);
$cb-by-power-recharge: linear-gradient(45deg, #01536e, #66cdef $c-power-grad-max);
$cb-by-power-other: linear-gradient(45deg, #0d0145, #301c89 $c-power-grad-max);
$cb-by-power-equipment: linear-gradient(45deg, #80361a, #efc44aa6 $c-power-grad-max);