// sass-lint:disable no-important
.archmage-prepopulate {
  .window-content > .dialog-content {
    flex: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .window-content > .dialog-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0 3px;
  }

  button.cancel,
  button.submit {
    background: $c-copper;
    color: $c-white;
    font-family: $font-stack-secondary;
    font-size: 18px;
    padding: 10px;
    margin: 0 10px 20px;
    border-radius: 8px;
    border: 0;
  }

  button.submit {
    background: $c-blue;
  }
}

.archmage-import-power {
  background: $ct-black--01;
  border: 1px solid $c-gray--light;
  border-radius: 3px;
  box-shadow: 0 0 2px $c-white inset;
  display: block;
  flex: 0 0 24px !important;
  height: 32px;
  line-height: 24px;
  margin: 4px;
  position: relative;
  text-align: center;
  width: auto;
}

.item-sheet {
  .sheet-header {
    > .archmage-import-power {
      flex: 0 0 24px !important;
    }
  }
}

.archmage-prepopulate-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .tabs {
    padding: 20px 0 0;
    border-bottom: 2px solid $c-blue--dark;
    justify-content: center;
    display: none;

    &.show-tabs {
      display: flex;
    }

    > .item {
      text-transform: capitalize;
      background: transparent;
      color: $c-black;
      border: 2px solid $c-blue--dark;
      border-bottom: 0;
      padding: 8px 24px;
      margin: 0 20px;
      transition: all ease-in-out 0.25s;
      font-family: $font-stack-base;
      font-size: 18px;
      flex-grow: 0;
      white-space: nowrap;

      &.active,
      &:hover,
      &:focus {
        text-shadow: none;
        background: $c-blue--dark;
        color: $c-white;
        box-shadow: 0;
      }
    }
  }

  .tabs-primary-content {
    height: 100%;
    margin: 20px 0;
    overflow-y: auto;
  }
}

.import-powers-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.import-powers-item {
  align-items: center;
  color: $c-white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 2px 4px;
  align-items: flex-start;

  .item-summary {
    overflow: hidden;
    transition: all ease-in-out 0.25s;

    .card-footer {
      display: none;
    }
  }

  &:hover,
  &:focus {
    color: $c-white;
  }

  > div {
    flex: 1;
  }

  > .title {
    flex: 1;
  }

  > .usage {
    flex: 0 0 120px;
  }

  > .type {
    flex: 0 0 100px;
  }

  > .level {
    flex: 0 0 24px;
  }

  // + .import-powers-item {
  //   border-top: 1px solid $c-gray--light;
  // }
}

.prepopulate-help {
  font-size: 16px;
  margin: 40px 0 0;
  background: $ct-blue--25;
  padding: 20px;
  border: 1px solid $c-blue--dark;
  border-radius: 5px;
}

.prepopulate-power-list {
  padding: 10px 0;

  .archmage.chat-card {
    .card-header {
      border: 0;
    }
  }

  .ability-usage {
    transition: all ease-in-out 0.25s;

    &:hover {
      opacity: 0.8;
    }
  }

  .title {
    flex: 0 0 40px;
  }

  .import-powers-item {
    color: $c-black;
  }
}

.class-content {
  .grid {
    gap: 40px;
  }

  padding: 0 20px;
}

.archmage-class-title {
  font-size: 48px;
  text-transform: capitalize;
  margin: 40px 0 0;
  text-align: center;
  border: 0;
  position: relative;

  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 32%;
    height: 6px;
    background: linear-gradient(-90deg, $c-blue--dark, rgba($c-blue--dark, .4) 60%, transparent);
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50px 0 50px 0;
  }

  &::after {
    left: auto;
    right: 0;
    background: linear-gradient(90deg, $c-blue--dark, rgba($c-blue--dark, .4) 60%, transparent);
    border-radius: 0 50px 0 50px;
  }
}

.archmage-class-heading,
.power-list-title {
  font-size: 32px;
  text-transform: capitalize;
  margin: 40px 0 10px;
  border-bottom: 2px solid $c-blue--dark;
}

.archmage-class-subheading,
.power-list-subtitle {
  font-size: 22px;
  text-transform: capitalize;
  margin: 40px 0 20px;
}